@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #333;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
    outline: none;
}

.title {
    font-weight: 600;
    font-size: 47px;
}

.navbar {
    z-index: 10;
    background-color: white !important;
    top: 0;
    left: 0;
}

.navbar-brand {
    font-weight: 700;
}

.header__controll-item svg {
    zoom: 0.9;
    fill: #333;
}

.header__controll-item {
    position: relative;
}

.header__cart-number {
    font-weight: 700;
    position: absolute;
    top: 13px;
    left: 12px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 0;
}

.navbar.active {
    background-color: #d8faff !important;
}

.home__controll-item {
    cursor: pointer;
}

.home__item {
    display: none;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.home__item_active {
    display: flex;
}

.home__uptitle {
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: center;
    line-height: 29px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 20px;
    white-space: normal;
    min-height: 0px;
    min-width: 169px;
    max-height: none;
    max-width: 210px;
    padding: 4px;
    color: rgb(61, 69, 82);
    opacity: 0.710937;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -5.21522, 0, 1);
    transform-origin: 50% 50% 0px;
    background: white;
    text-transform: uppercase;
    margin: auto;
}

.home__title {
    font-size: 100px;
    font-weight: 500;
    color: white;
}

.home__title span {
    font-size: 80px;
    font-weight: 700;
}

.home__gallery-controll {
    bottom: 40px;
    right: 40px;
    color: rgba(128, 128, 128, 0.581);
}

.home__gallery-number {
    font-size: 23px;
    font-weight: 500;
}

.home__gallery-number span {
    font-size: 60px;
    color: #333333c6;
}

.category__item {
    width: 30%;
    height: 400px;
    background-position: center;
    background-size: 100%;
    position: relative;
    transition-duration: 0.4s;
    cursor: pointer;
}

.category__item:hover {
    background-size: 110%;
    transition-duration: 0.4s;
}

.category__item:nth-child(2) {
    height: 480px;
}

.category__inner {
    padding: 100px 0 70px 0;
}

.category__name {
    background: white;
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 6px 20px;
    font-size: 19px;
    font-weight: 500;
}

.category__name span {
    opacity: 0.8;
    font-size: 15px;
    letter-spacing: 2px;
}

.about__title {
    margin-bottom: 40px;
}

.about__instagram-name {
    font-size: 18px;
    opacity: 0.6;
    letter-spacing: 2px;
}

.about__instagram-item {
    transition-duration: 0.4s;
    cursor: pointer;
}

.about__instagram-name {
    opacity: 0;
    color: white;
    transition-duration: 0.4s;
}

.about__instagram-item:hover:before {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.396);
    content: '';
    position: absolute;
    transition-duration: 0.4s;
}

.about__instagram-item:hover .about__instagram-name {
    opacity: 1;
}

.footer__outer {
    margin-top: 50px;
}

.footer__inner {
    background: #333;
    padding: 50px;
}

.footer__copy {
    background: #3333331f;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 20px;
    font-size: 11px;
    letter-spacing: 2px;
}

.footer__copy span {
    font-weight: 600;
}

.footer__title {
    color: white;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
}

.footer__item {
    color: white;
}

.logo {
    color: white;
    font-weight: 700;
    font-size: 22px;
}

.footer__desc {
    margin-top: 15px;
    color: white;
    font-size: 14px;
    opacity: 0.8;
}

.socials-item svg {
    fill: white;
    opacity: 0.9;
    cursor: pointer;
}

.footer__item {
    margin-bottom: 10px;
    font-size: 15px;
}

.footer__item svg {
    fill: white;
    margin-right: 13px;
    zoom: 0.8;
}

.form__button {
    top: 0px;
    right: 0px;
    zoom: 1.55;
}